---

---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Zenta Running</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <header>
            <h1>Zenta Running</h1>
        </header>
        <main>
            <img src="zenta.jpg" alt="Zenta Running Club" />
            <h2>Ya volvemos., Aun nos quedan un par de kilometros mas...</h2>
        </main>
    </body>
</html>
<style>
    body {
        margin: 0;
        padding: 0;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        background-image: url(background.png);
        background-size: cover;
    }
    header {
        background-color: #121212;
        color: white;
        height: 3rem;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        h1 {
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
            font-weight: 800;
            margin-inline-start: 5px;
            color: #fff;
        }
    }
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        flex-direction: column;
        img {
            border-radius: 50%;
            border: 3px #2c2c2c solid;
        }
        h2 {
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
            font-weight: 800;
            margin-inline-start: 5px;
            text-align: center;
            color: #fff;
        }
    }
</style>
