---
//import "../css/global.css";
import Navbar from "../components/nav.astro";
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Zenta Running</title>
    </head>
    <body>
        <Navbar />
        <slot />
        <!-- Aquí se inserta el contenido de cada página -->
    </body>
</html>
